<header class="header">
  <div class="header-info">
    <div class="header-info-wrapper">
      <div class="header-info-icn"><span></span></div>
      <div class="header-info-txt">
        <p>大切なお知らせ</p>
        <p class="header-info-txt-sub">サーバーメンテナンスについて</p>
      </div>
    </div>
  </div>
  <div class="header-nav">
    <div class="header-nav-wapper">
      <h1><a href="#" class="header-nav-logo"><img src="<%= meta.basePath %>asset/img/common/logo_horizontal.svg" alt="TCROSS"></a></h1>
      <nav class="header-nav-menu">
        <ul>
          <li><a href="#">Who we are</a></li>
          <li><a href="#">Our services</a></li>
          <li><a href="#">Recruit</a></li>
          <li><a href="#">News</a></li>
          <li class="_is-contact"><a href="#">Contact</a></li>
          <li>|</li>
          <li class="header-nav-lang">
            <select id="header-nav-select">
              <option value="jp"><%= meta.optionJp %></option>
              <option value="en"<%= meta.selected %>><%= meta.optionEn %></option>
            </select>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>