$colors: (
    t-green: #AACE45,
    t-green-700: #415800,
    t-green-600: #678B02,
    t-green-500: #87AB22,
    t-green-400: #AACE45,
    t-green-300: #C9EA6C,
    t-green-200: #E4F6B1,
    t-green-100: #F8FDE7,
    t-gray: #BEC3C8,
    black800: #171A1C,
    black600: #5D666F,
    black400: #9099A2,
    black100: #E3E6E8,
    black30: #F7F7F8,
    red700: #972121,
    red500: #CD2D2D,
    red300: #E37D7D,
    blue700: #284B9A,
    blue500: #3C69CD,
    blue300: #8DA7E2,
);