@use "sass:map";
@use 'common.vars';
@use 'mixins';

/*! =====================
    footer_section
    ===================== */
.footer {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 97px;
    padding-inline: min(calc((88 / 1600) * 100vw), 88px);
    max-width: 1600px;
    margin: 0 auto;

    .footer-logo {
        width: fit-content;
        transition: opacity 0.3s;

        &-img {
            width: 168px;
            height: auto;
            margin-bottom: 34.5px;

            @include mixins.mediaquery-md {
                margin-bottom: 48px;
            }

            display: block;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    .footer-nav {
        display: flex;
        margin-bottom: calc((28 / 1600) * 100vw);

        ul {
            display: flex;
            column-gap: calc((32 / 1600) * 100vw);
            align-items: center;
            font-size: 16px;
            font-weight: 400;

            @include mixins.mediaquery-md {
                flex-direction: column;
                align-items: start;
                row-gap: 32px;
            }

            li:nth-of-type(6) {
                color: map.get(common.$colors, black400);
            }

            li {
                transition: color 0.3s ease;
            }

            li:hover {
                cursor: pointer;
                color: map.get(common.$colors, t-green);
            }
        }

        &-facebook {
            width: 24px;
            height: auto;
            transition: opacity 0.3s ease;

            @include mixins.mediaquery-md {
                width: 32px;
            }

            &:hover {
                opacity: 0.5;
            }
        }

        &-x {
            width: 24px;
            height: auto;
            max-width: 24px;
            transition: opacity 0.3s ease;

            @include mixins.mediaquery-md {
                width: 32px;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }

    @include mixins.mediaquery-md {
        .footer-sns {
            display: flex !important;
            column-gap: 24px;
            justify-content: center;
            position: relative;
            margin-block: 49px;

            &::before {
                content: "";
                position: absolute;
                top: -17px;
                width: 100%;
                height: 1px;
                border: solid 1px map.get(common.$colors, black100);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -17px;
                width: 100%;
                height: 1px;
                border: solid 1px map.get(common.$colors, black100);
            }
        }
    }

    .footer-Terms {
        font-size: 16px;
        font-weight: 500;
        position: relative;

        a:nth-of-type(2) {
            padding-left: calc((24 / 1600) * 100vw);
        }

        p {
            font-size: 14px;
            position: absolute;
            right: 0;

            @include mixins.mediaquery-md {
                position: relative;
                margin-top: 40px;
            }
        }

        a {
            transition: color 0.3s ease;
        }

        a:hover {
            cursor: pointer;
            color: map.get(common.$colors, t-green);
        }
    }

}