$screen-md: 768px;
$screen-sm: 400px;

@mixin mediaquery-m() {
  @media screen and (max-width: #{ $screen-md - 1px }) {
    @content;
  }
}
@mixin mediaquery-sm() {
  @media screen and (max-width: #{ $screen-sm - 1px }) {
    @content;
  }
}
