$screen-md: 961px;
$screen-sm: 450px;

@mixin mediaquery-md() {
  @media screen and (max-width: #{ $screen-md - 1px }) {
    @content;
  }
}
@mixin mediaquery-sm() {
  @media screen and (max-width: #{ $screen-sm - 1px }) {
    @content;
  }
}
