@use "sass:map";
@use 'common.vars';
@use 'mixins';

body {
    width: 100%;
    font-family: "Noto Sans JP", "sans-serif";
}

img {
    width: 100%;
    height: auto;
}

// ._sm {
//     display: none !important;

//     @include mixins.mediaquery-md {
//         display: none !important;
//     }

//     @include mixins.mediaquery-sm {
//         display: block !important;
//     }
// }

._sp {
    display: none !important;

    @include mixins.mediaquery-md {
        display: block !important;
    }

}

._pc {
    display: block !important;

    @include mixins.mediaquery-md {
        display: none !important;
    }
}

.c-heading-title {
    font-size: min(calc((64 /1600) * 100vw), 64px);
    font-weight: 700;

    @include mixins.mediaquery-md {
        font-size: min(calc((32 /767) * 100vw), 32px);
    }
}


.c-heading-text {
    font-size: min(calc((18 / 1600) * 100vw), 18px);
    font-weight: 500;

    @include mixins.mediaquery-md {
        font-size: min(calc((14 /767) * 100vw), 14px);
    }
}

.c-explanation-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.7;

    @include mixins.mediaquery-md {
        font-size: 32px;
    }
}

.c-explanation-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;

    @include mixins.mediaquery-md {
        font-size: 16px;
        width: 78%;
    }
}

.c-inter {
    font-family: "Inter", sans-serif;
}

.c-link {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    width: fit-content;
    display: flex;
    column-gap: 16px;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s;

    &-icn {
        width: 96px;
        height: 64px;
        background: #141414;
        border-radius: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: background 0.3s;

        @include mixins.mediaquery-md {
            width: 70px;
            height: 42px;
        }

        &::before {
            content: "";
            background-image: url("../../asset/img/common/arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            top: 16px;
            left: 32px;
            display: block;
            width: 32px;
            height: 32px;

            @include mixins.mediaquery-md {
                width: 26px;
                height: 26px;
                top: 8px;
                left: 22px;
            }
        }
    }

    &:hover {
        color: #AACE45;

        .c-link-icn {
            background: #AACE45;
        }
    }
}

.c-title-color {
    color: map.get(common.$colors, t-green);
}

.c-link-long {
    width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    background-color: map.get(common.$colors, black800);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 19px 72px 19px 32px;
    transition: background-color 0.3s;
    line-height: 1.3;
    cursor: pointer;

    @include mixins.mediaquery-md {
        font-size: 16px;
        padding: 10px 52px 10px 20px;
    }

    &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-right: solid 1.5px #fff;
        border-bottom: solid 1.5px #fff;
        position: absolute;
        right: 26px;
        transform: rotate(-45deg);

        @include mixins.mediaquery-md {
            right: 15px;
        }
    }

    &::after {
        content: "";
        width: 22.2px;
        height: 1.5px;
        right: 29px;
        position: absolute;
        background-color: #fff;

        @include mixins.mediaquery-md {
            width: 18px;
            right: 18px;
        }
    }

    &:hover {
        background-color: map.get(common.$colors, t-green);
    }
}

.c-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding-inline: min(calc((88 / 1600) * 100vw), 88px);

    @include mixins.mediaquery-md {
        padding-inline: min(calc((24 / 767) * 100vw), 24px);
    }
}

.page-event .c-wrapper {
    position: relative;
    background-color: #fff;
}


.contact {
    width: 100%;

    &-bg {
        width: 100%;
        max-width: 1600px;
        position: relative;
        padding: 80px 64px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

        @include mixins.mediaquery-md {
            padding: 48px 24px 106px;
        }

        &-title {
            font-size: 64px;
            font-weight: 600;
            margin-bottom: 56px;

            @include mixins.mediaquery-md {
                font-size: 32px;
                text-align: center;
                margin-bottom: 32px;
            }
        }

        &-text {
            font-size: 20px;
            line-height: 2;

            @include mixins.mediaquery-md {
                font-size: 18px;
                text-align: center;
                width: 100%;
            }
        }

        &-icn {
            position: absolute;
            right: 24px;

            @include mixins.mediaquery-md {
                bottom: 24px;
            }
        }
    }

}

// パンくず
.c-breadcrumbs {
    display: flex;
    column-gap: 5px;
    margin: 20px auto 50px;

    li {
        font-size: 12px;

        &._active {
            text-decoration: underline;
        }
    }

    li:nth-of-type(1) {
        color: map.get(common.$colors, black400);
    }
}

// 下層タイトル
.c-title {
    font-size: 72px;
    font-weight: 700;

    span {
        color: #AACE45;
    }
}

// 下層見出し
.c-headline {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;

    @include mixins.mediaquery-md {
        font-size: 32px;
    }
}

// 下層MV
.c-hero {
    padding-right: 0 !important;

    >p {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.5;

        @include mixins.mediaquery-md {
            font-size: 20px;
        }
    }

    h2 {
        font-size: 60px;
        font-weight: 700;
        line-height: 1.5;

        @include mixins.mediaquery-md {
            font-size: 32px;
        }
    }

    &-content {
        display: flex;
        column-gap: min(calc((64 / 1600) * 100vw), 64px);
        margin-top: 133px;

        @include mixins.mediaquery-md {
            flex-direction: column;
            margin-top: 48px;
        }

        .c-headline {
            font-size: clamp(30px, calc((40 / 1600) * 100vw), 40px);
        }

        p {
            margin-top: 32px;
            font-size: 18px;
            line-height: 2;
        }

        div:first-of-type {
            width: 36.8%;
            flex-shrink: 0;
            margin-top: 97px;

            @include mixins.mediaquery-md {
                width: 92%;
                margin-top: 0;
            }
        }

        div:last-of-type {
            width: 59%;

            @include mixins.mediaquery-md {
                width: 96.8%;
                margin-top: 48px;
            }
        }
    }
}

// 下層説明セクション
.c-explanation {
    margin-top: 130px;
    // max-width: 1600px;
    margin-inline: auto;

    @include mixins.mediaquery-md {
        margin-top: 64px;
    }

    &-bg {
        position: sticky;
        top: 0;
        height: 100vh;

        img {
            height: 100%;
            object-fit: cover;
        }

        &-overlay {
            position: absolute;
            top: 0;
            background-color: rgb(0 0 0 /0.6);
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 1s ease;

            &._active {
                opacity: 1;
            }
        }
    }

    &-content {
        position: sticky;
        top: 0;
        background-color: transparent !important;
        color: #fff;

        h3 {
            font-size: 64px;
            line-height: 1.5;

            @include mixins.mediaquery-md {
                font-size: 40px;
            }
        }

        div {
            margin-top: 120px;
            padding-bottom: 160px;
            display: flex;
            justify-content: flex-end;

            @include mixins.mediaquery-md {
                margin-top: 80px;
                justify-content: start;
            }
        }

        ul {
            width: 39%;
            display: flex;
            flex-direction: column;
            row-gap: 80px;

            @include mixins.mediaquery-md {
                width: 100%;
            }

            h4 {
                font-size: 40px;
                line-height: 1.5;

                @include mixins.mediaquery-md {
                    font-size: 28px;
                }
            }

            p {
                font-size: 20px;
                margin-top: 16px;
                line-height: 2;
            }
        }
    }
}

.c-modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    backdrop-filter: blur(8px);

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &-case {
        width: calc((1177 / 1600) * 100vw);
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        padding: calc((85 / 1600) * 100vw) calc((122 / 1600) * 100vw) calc((112 / 1600) * 100vw) calc((120 / 1600) * 100vw);
        max-height: 90vh;
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
        transition: transform .3s ease, opacity .3s ease;
        overflow-y: auto;

        @include mixins.mediaquery-md {
            width: calc((1477 / 1600) * 100vw);
            height: 80vh;
            padding-top: 85px;
        }

        &.show {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }

        &-img {
            width: 57.3%;
            height: auto;
            margin: 0 auto;
            padding-top: calc((30 / 1600) * 100vw);
            padding-bottom: calc((30 / 1600) * 100vw);

            @include mixins.mediaquery-sm {
                width: 83.3%;
            }
        }

        h4 {
            font-size: max(calc((26 / 1600) * 100vw), 18px);
            font-weight: 700;
            line-height: 1.5;
        }

        h5 {
            // font-size: calc((20 / 1600) * 100vw);
            font-size: max(calc((20 / 1600) * 100vw), 14px);
            font-weight: 400;
            line-height: 1.5;
        }

        h6 {
            font-size: max(calc((16 / 1600) * 100vw), 12px);
            font-weight: 700;
            margin-bottom: calc((11 / 1600) * 100vw);
        }

        ul {
            margin-bottom: 30px;
            list-style-type: circle;
            padding-left: 1.5em;
            font-size: max(calc((16 / 1600) * 100vw), 12px);

        }

        p {
            font-size: max(calc((16 / 1600) * 100vw), 12px);
            margin-bottom: calc((30 / 1600) * 100vw);
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        &-close {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 26px;
            font-weight: 700;
            cursor: pointer;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.5;
            }

            &::before {
                content: "×";
            }

        }
    }


}

// 課題セクション
.c-task {
    padding-block: 120px;

    @include mixins.mediaquery-md {
        padding-block: 80px;
    }

    .c-headline {
        text-align: center;
    }

    &-list {
        margin-top: 80px;
        display: flex;
        gap: clamp(24px, calc((64 / 1600) * 100vw), 64px);
        flex-wrap: wrap;
        justify-content: center;

        li {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            width: 36.5%;

            div {
                width: 70px;
            }

            h4 {
                font-size: 28px;
                font-weight: 700;
                line-height: 1.5;

                @include mixins.mediaquery-md {
                    font-size: 20px;
                }
            }

            p {
                font-size: 16px;
                line-height: 1.8;
            }
        }
    }
}

// 課題セクション
.c-support {
    padding-block: 120px;
    background-color: #F7F7F8 !important;

    @include mixins.mediaquery-md {
        padding-block: 80px;
    }

    .c-headline {
        text-align: center;
    }

    &-list {
        margin-top: 8%;
        display: flex;
        column-gap: clamp(12px, calc((60 / 1600) * 100vw), 80px);
        row-gap: 40px;
        flex-wrap: nowrap;
        justify-content: center;

        @include mixins.mediaquery-md {
            flex-wrap: wrap;
        }

        li {
            // width: 15.4%;
            width: 220px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 16px;

            @include mixins.mediaquery-sm {
                width: 279px;
            }

            h5 {
                font-size: 14px;
                color: #87AB22;
                font-weight: 900;
            }

            h4 {
                font-size: clamp(14px, calc((20 / 1600) * 100vw), 20px);
            }

            div {
                width: 100%;
            }

            p {
                font-size: clamp(12px, calc((16 / 1600) * 100vw), 16px);
                text-align: center;
                line-height: 1.8;
            }
        }
    }
}

// 事例セクション
.c-case {
    padding-block: 120px;

    &-list {
        padding-left: calc((248 / 1600) * 100vw);
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        flex-wrap: wrap;

        @include mixins.mediaquery-md {
            padding-left: 0;
        }

        li {
            display: flex;
            justify-content: flex-end;
            column-gap: clamp(24px, calc((64 / 1600) * 100vw), 64px);
            line-height: 1.5;

            @include mixins.mediaquery-md {
                flex-direction: column;
            }

            h5 {
                font-size: clamp(28px, calc((32 / 1600) * 100vw), 32px);

                span {
                    color: #AACE45;
                }
            }

            h4 {
                font-size: clamp(28px, calc((40 / 1600) * 100vw), 40px);
                line-height: 1.5;
                margin-top: 16px;
            }


            p {
                font-size: clamp(16px, calc((18 / 1600) * 100vw), 18px);
                margin-top: 16px;

                &:nth-of-type(2) {
                    font-size: clamp(12px, calc((16 / 1600) * 100vw), 16px);
                    margin-top: 24px;
                    line-height: 2.5;
                }
            }



            div:last-of-type {
                width: 47%;
                flex-shrink: 0;
                margin: 16px auto 0;

                @include mixins.mediaquery-md {
                    width: 100%;
                }
            }
        }


        &-more {
            margin-top: 40px !important;
            background-color: #000;
            color: #fff;
            font-size: 16px;
            line-height: 1.1;
            width: 120px;
            padding: 14px 24px 18px;
            border-radius: 100px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            position: relative;

            &:hover {
                background-color: map.get(common.$colors, t-green);
            }

            @include mixins.mediaquery-md {
                width: 240px;
                margin: 40px auto 0 !important;
                padding: 14px 90px 18px;
            }

            &::before {
                content: "";
                background-image: url("../../asset/img/common/more.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                position: absolute;
                top: 18.08px;
                right: 19px;
                width: 26px;
                height: 13.85px;
            }

            &::after {
                content: "";
                background-image: url("../../asset/img/common/lnk-icon.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                position: absolute;
                top: 18.08px;
                right: 28px;
                width: 32px;
                height: 32px;
                display: none;
            }
        }
    }
}

// メンバーセクション
.c-member {
    padding-block: 120px 112px;
    background-color: #F7F7F8 !important;

    @include mixins.mediaquery-md {
        padding-block: 80px 72px;
    }

    &-list {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        li {
            display: flex;
            column-gap: 30px;
            line-height: 1.5;

            div:first-of-type {
                width: 12%;
                flex-shrink: 0;
            }

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
                margin-top: 10px;
            }

            p:nth-of-type(2) {
                text-decoration: underline;
            }
        }

        &-more {
            line-height: 2.6;
            margin-top: 10px !important;
            text-decoration: underline;
            text-align: end;
        }
    }
}


/*! =====================
    js-animation-class
    ===================== */
//フェードイン
.js-fadein {
    opacity: 0;
    transition: opacity 0.8s, transform 0.8s;
    transform: translateY(30px);
}

.js-fadein.active {
    opacity: 1;
    transform: translateY(0);
}