@use "sass:map";
@use 'common.vars';
@use 'mixins';

body {
    width: 100%;
    font-family: "Noto Sans JP", "sans-serif";
}

img {
    width: 100%;
    height: auto;
}

.c-heading-title {
    font-size: min(calc((64 /1600) * 100vw), 64px);
    font-weight: 700;
}

.c-heading-text {
    font-size: min(calc((18 / 1600) * 100vw), 18px);
    font-weight: 500;
}

.c-explanation-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.7;
}

.c-explanation-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
}

.c-inter {
    font-family: "Inter", sans-serif;
}

.c-link {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    width: fit-content;
    display: flex;
    column-gap: 16px;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s;

    &-icn {
        width: 48px;
        height: 48px;
        background: #141414;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: background 0.3s;

        &::before {
            content: "";
            width: 18px;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 10px;
        }

        &::after {
            content: "";
            width: 10px;
            height: 10px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            position: absolute;
            right: 14px;
            transform: rotate(-45deg);
        }
    }

    &:hover {
        color: #AACE45;

        .c-link-icn {
            background: #AACE45;
        }
    }
}

.c-link-long {
    width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    background-color: map.get(common.$colors, black800);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 17px 72px 17px 32px;
    transition: background-color 0.3s;
    line-height: 1.3;
    cursor: pointer;

    &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-right: solid 1.5px #fff;
        border-bottom: solid 1.5px #fff;
        position: absolute;
        right: 26px;
        transform: rotate(-45deg);
    }

    &::after {
        content: "";
        width: 22.2px;
        height: 1px;
        right: 30px;
        position: absolute;
        background-color: #fff;
    }

    &:hover {
        background-color: map.get(common.$colors, t-green);
    }
}

.c-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding-inline: min(calc((88 / 1600) * 100vw), 88px);
}

.contact {
    width: 100%;

    &-bg {
        width: 100%;
        max-width: 1600px;
        position: relative;
        padding: 80px 64px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

        &-title {
            font-size: 64px;
            font-weight: 600;
            margin-bottom: 56px;
        }

        &-icn {
            position: absolute;
            right: 24px;
        }
    }

}

// パンくず
.c-breadcrumbs {
    display: flex;
    column-gap: 5px;
    margin: 20px 0 50px;

    li {
        font-size: 12px;

        &._active {
            text-decoration: underline;
        }
    }
}

// 下層見出し
.c-headline {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
}

// 下層説明セクション
.c-explanation {
    margin-top: 150px;

    &-content {
        display: flex;
        column-gap: 115px;
        margin-top: 30px;

        div:first-of-type {
            width: 42%;
            flex-shrink: 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            line-height: 1.5;

            h4 {
                font-size: 26px;
            }

            p {
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
}

.c-modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &-case {
        width: calc((1177 / 1600) * 100vw);
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        padding: calc((85 / 1600) * 100vw) calc((122 / 1600) * 100vw) calc((112 / 1600) * 100vw) calc((120 / 1600) * 100vw);
        max-height: 80vh;
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
        transition: transform .3s ease, opacity .3s ease;
        overflow-y: auto;

        &.show {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }

        &-img {
            width: 57.3%;
            height: auto;
            margin: 0 auto;
            padding-top: calc((30 / 1600) * 100vw);
            padding-bottom: calc((30 / 1600) * 100vw);
        }

        h4 {
            font-size: calc((26 / 1600) * 100vw);
            font-weight: 700;
            line-height: 1.5;
        }

        h5 {
            font-size: calc((20 / 1600) * 100vw);
            font-weight: 400;
            line-height: 1.5;
        }

        h6 {
            font-size: calc((16 / 1600) * 100vw);
            font-weight: 700;
            margin-bottom: calc((11 / 1600) * 100vw);
        }

        ul {
            margin-bottom: 30px;
            list-style-type: circle;
            padding-left: 1.5em;
            font-size: calc((16 / 1600) * 100vw);
        }

        p {
            font-size: calc((16 / 1600) * 100vw);
            margin-bottom: calc((30 / 1600) * 100vw);
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        &-close {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 26px;
            font-weight: 700;
            cursor: pointer;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.5;
            }

            &::before {
                content: "×";
            }

        }
    }


}

// 課題セクション
.c-task {
    margin-top: 150px;

    &-list {
        margin-top: 30px;
        display: flex;
        column-gap: 113px;
        row-gap: 30px;
        flex-wrap: wrap;

        li {
            width: 40.5%;
        }

        p {
            font-size: 26px;
            font-weight: 700;
            line-height: 1.5;
        }
    }

    h4 {
        font-size: 30px;
        line-height: 1.5;
        margin-top: 100px;
    }

    &-support {
        margin-top: 30px;
        display: flex;
        column-gap: 30px;
        row-gap: 30px;

        li {
            width: 16.6%;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            line-height: 1.5;

            h5 {
                font-size: 20px;
            }

            div {
                width: 155px;
                height: 155px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            p {
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

// 事例セクション
.c-example {
    margin-top: 150px;

    &-list {
        width: fit-content;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        flex-wrap: wrap;

        li {
            display: flex;
            column-gap: 100px;
            line-height: 1.5;

            div:first-of-type {
                width: 42%;
                flex-shrink: 0;
            }

            div:last-of-type {
                width: 40.5%;
            }

            h4 {
                font-size: 26px;
            }

            h5 {
                font-size: 20px;
                margin-top: 10px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                margin-top: 30px;
            }
        }


        &-more {
            width: fit-content;
            line-height: 2.6;
            margin-top: 10px !important;
            margin-left: auto;
            text-decoration: underline;
            cursor: pointer;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

// メンバーセクション
.c-member {
    margin-top: 150px;

    &-list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        li {
            display: flex;
            column-gap: 30px;
            line-height: 1.5;

            div:first-of-type {
                width: 12%;
                flex-shrink: 0;
            }

            h4 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
                margin-top: 10px;
            }

            p:nth-of-type(2) {
                text-decoration: underline;
            }
        }

        &-more {
            line-height: 2.6;
            margin-top: 10px !important;
            text-decoration: underline;
            text-align: end;
        }
    }
}


/*! =====================
    js-animation-class
    ===================== */
//フェードイン
.js-fadein {
    opacity: 0;
    transition: opacity 0.8s, transform 0.8s;
    transform: translateY(30px);
}

.js-fadein.active {
    opacity: 1;
    transform: translateY(0);
}