@use "sass:map";
@use 'reset';
@use 'common.vars';
@use 'header';
@use 'footer';
@use 'mixins';

/*! =====================
    top_section(トップページ)
    ===================== */
.page-top {
    background-color: map.get(common.$colors, black30);
}

.top-hero {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;

    @include mixins.mediaquery-md {
        height: calc((614 / 767) * 100vw);
    }

    // @include mixins.mediaquery-sm {
    //     width: 20%;
    // }

    &-swiper {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        &-heading {
            width: 783px;
            position: absolute;
            top: calc((265.5 / 1600) * 100vw);
            left: calc((88 / 1600) * 100vw);
            line-height: 1.3;

            @include mixins.mediaquery-md {
                width: fit-content;
                top: calc((98 / 767) * 100vw);
                left: calc((56 / 767) * 100vw);
            }

            &-title {
                font-weight: 900 !important;
            }

            &Text {
                line-height: 2;
                margin-top: calc((32 / 1600) * 100vw);

                @include mixins.mediaquery-md {
                    margin-top: calc((32 / 767) * 100vw);
                }
            }
        }

        &-link {
            position: absolute;
            right: calc((88 / 1600) * 100vw);
            bottom: calc((88 / 1600) * 100vw);

            @include mixins.mediaquery-md {
                right: unset;
                left: calc((56 / 767) * 100vw);
                bottom: calc((128 / 767) * 100vw);
            }
        }

        &-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
        }

        &-wrapperSlide {
            width: 100%;
            height: 100%;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }

    &-swiper-controls {
        position: absolute;
        bottom: calc((24 / 1600) * 100vw);
        left: calc((88 / 1600) * 100vw);
        display: flex;
        align-items: center;
        gap: calc((16 / 1600) * 100vw);
    }

    &-swiper-controlsTogglePlay {
        width: max(calc((50 / 1600) * 100vw), 32px);
        height: max(calc((50 / 1600) * 100vw), 32px);
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            transform: scale(1.1);
            background-color: rgba(0, 0, 0, 0.5);
        }

        &.is-play {
            /* 停止ボタン */
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: url("../../asset/img/top/pause_stop.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: block;
            }
        }

        &.is-paused {
            // 再生ボタン
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: url("../../asset/img/top/pause_start.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: block;
            }
        }

    }

    &-swiper-controlsPagination {
        display: flex;
        align-items: center;
        gap: calc((10 / 1600) * 100vw);
        background: rgba(0, 0, 0, 0.45);
        padding: 8px 12px;
        border-radius: 20px;
        height: 20px;
        cursor: pointer;

        .top-hero-swiper-controlsPaginationItem {
            height: 4px;
            border-radius: 20px;
            transition: width 0.2s linear, background 0.2s linear;

            &.inactive {
                width: 20px;
                background: #bfbfbf;
            }

            &.active {
                width: 80px;
                background: #fff;
            }
        }
    }

    &-link {
        position: absolute;

    }
}


.top-features {
    width: 100%;
    margin-top: 80px !important;

    @include mixins.mediaquery-md {
        margin-top: 64px !important;
    }

    &-news {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &-wrapper {
            width: 65%;

            @include mixins.mediaquery-md {
                display: block;
                width: 100%;
            }

            &Title {
                font-size: 18px;
                margin-bottom: 40px;
                font-weight: 500;
            }

            &Text {
                font-size: 16px;
                display: flex;
                margin-bottom: 32px;
                flex-direction: column;
                row-gap: 8px;
                line-height: 1.5;

                p:nth-of-type(1) {
                    color: map.get(common.$colors, t-green-500);
                }

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    transition: opacity 0.3s ease;
                }

                & a:hover {
                    opacity: 0.5;
                }
            }
        }


    }
}

.our-services {
    width: 100%;
    padding-block: 120px;
    background-color: #fff;
    margin-top: 120px !important;

    @include mixins.mediaquery-md {
        padding-block: 64px;
        margin-top: 80px !important;
    }

    &-wrapper {
        max-width: 1600px;
        margin: 0 auto;
        padding-inline: min(calc((88 / 1600) * 100vw), 88px);

        >p:first-of-type {
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            margin-top: 32px;

            @include mixins.mediaquery-md {
                font-size: 18px;
                margin-top: 24px;

            }
        }

        &-title {
            font-size: 88px;
            font-weight: 700;

            @include mixins.mediaquery-md {
                font-size: 72px;
            }

        }

        &-list {
            width: 100%;
            display: flex;
            gap: min(calc(64 / 1600) * 100vw, 64px);
            margin-top: 80px;
            flex-wrap: wrap;
            justify-content: flex-end;

            @include mixins.mediaquery-md {
                gap: calc(24 / 767) * 100vw;
                margin-top: 64px;
                justify-content: center;
            }

            &-busines {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                width: 24.5%;

                @include mixins.mediaquery-md {
                    row-gap: 16px;
                    width: 48%;
                }

                // イメージスケールアップ
                a,
                div {
                    width: min(calc((349 / 1600) * 100vw), 349px);
                    height: min(calc((262 / 1600) * 100vw), 262px);
                    position: relative;
                    overflow: hidden;

                    @include mixins.mediaquery-md {
                        width: calc((347 / 767) * 100vw);
                        height: calc((260 / 767) * 100vw);
                    }

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: scale 0.3s ease;

                    }

                    &:hover img {
                        scale: 1.08;
                    }
                }

                p {
                    font-size: 16px;
                    // font-size: max(calc((14 / 1600) * 100vw), 16px);
                    line-height: 1.8;
                }

                h3 {
                    font-size: 32px;
                    // font-size: max(calc((26 / 1600) * 100vw), 22px);
                    font-weight: 700;
                }

            }
        }

        &-link {
            display: flex;
            justify-content: end;
            margin-top: 120px;

            @include mixins.mediaquery-md {
                justify-content: center;
                margin-top: 64px;
            }
        }
    }

}

.recruit {
    padding-top: 190px;
    position: relative;

    @include mixins.mediaquery-md {
        padding-top: 80px;
    }

    &-bg {
        position: absolute;
        top: 15%;
        left: 0;
        width: 75%;
        height: 80%;
        background-color: #fff;

        @include mixins.mediaquery-md {
            top: 17%;
            width: 72.6%;
            height: 67%;
        }
    }

    &-explanation {
        width: 79%;
        height: auto;
        font-weight: 600;
        font-size: 18px;
        position: relative;

        .c-explanation-title {
            margin-top: 56px;

            @include mixins.mediaquery-md {
                margin-top: 40px;
            }
        }

        &-text {
            margin-top: 48px;
            position: relative;
            z-index: 1;
        }

        &-image {
            margin: 0 auto;
            width: min(calc((928 / 1600) * 100vw), 928px);
            height: auto;
            position: absolute;
            top: 98.5px;
            right: -248px;

            @include mixins.mediaquery-md {
                position: relative;
                width: 100vw;
                top: 0;
                right: unset;
                left: calc((-24 / 767) * 100vw);
                margin-top: 64px;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    &-link {
        width: fit-content;
        margin-top: 56px;

        @include mixins.mediaquery-md {
            margin-top: 40px;
        }
    }

}

.news {
    width: 100%;
    margin-block: 240px 120px !important;
    display: flex;
    justify-content: flex-end;

    @include mixins.mediaquery-md {
        margin-block: 64px 80px !important;
        flex-direction: column;
    }

    &-wrapper {
        width: 82.6%;

        @include mixins.mediaquery-md {
            width: 100%;
        }

        &-title {
            font-size: 18px;
            margin-bottom: 40px;
            font-weight: 500;

            @include mixins.mediaquery-md {
                margin-bottom: 48px;
            }
        }

        &-text {
            font-size: 16px;
            display: flex;
            margin-bottom: 32px;
            line-height: 1.5;
            column-gap: 159px;

            @include mixins.mediaquery-md {
                column-gap: 97px;
            }

            @include mixins.mediaquery-sm {
                display: block;
            }

            p {
                color: map.get(common.$colors, t-green-500);
                flex-shrink: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                width: 80%;
                transition: opacity 0.3s ease;

                @include mixins.mediaquery-md {
                    width: 62.5%;
                    width: 100%;
                }

            }

            & a:hover {
                opacity: 0.5;
            }
        }
    }

}

/*! ====================
    about_section(会社概要ページ)
    ==================== */
.about-hero {
    width: 100%;
    height: auto;
    position: relative;
    // padding-block: 120px 160px;
    padding-block: min(calc((120 / 1600) * 100vw), 120px) min(calc((160 / 1600) * 100vw), 160px);

    &-title {
        font-size: 120px;
        font-size: clamp(58px, calc((120 / 1600) * 100vw), 120px);
        font-weight: 600;
        line-height: 1.5;

        @include mixins.mediaquery-sm {
            text-align: center;
        }
    }

    &-color {
        color: map.get(common.$colors, black600);
    }

    &-content {
        font-size: 32px;
        line-height: 2;
        font-weight: 700;
        padding-left: calc((88 / 1600) * 100vw);
        display: flex;
        margin-top: 64px;
        position: relative;

        &-text {
            font-size: clamp(18px, calc((32 / 1600) * 100vw), 32px);

            &-mvv {
                font-size: max(calc((90 / 1600) * 100vw), 60px);
                color: map.get(common.$colors, black600);
                line-height: 1;
                margin-top: 280px;
            }

            &-explanation {
                margin-top: 24px;
            }
        }

        p:nth-of-type(2) {
            margin-top: 95px;
        }

        p:nth-of-type(3) {
            margin-top: 95px;
        }

        &-sticky {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;

            &-img {

                width: min(calc((772 / 1600) * 100vw), 772px);
                transition: opacity 0.5s ease;
                position: sticky;
                top: 0;
                height: fit-content;
                right: 0;
                z-index: -1;

                @include mixins.mediaquery-sm {
                    width: 100%;
                }

                &._opacity {
                    opacity: 0.5;
                }
            }
        }

    }


}

.about-strengths {
    margin-top: 150px;
    padding-bottom: 120px;

    h3 {
        font-size: 40px;
        font-weight: 600;
    }

    &-list {
        margin-top: 50px;
        display: flex;
        column-gap: 35px;
        row-gap: 50px;
        flex-wrap: wrap;
        justify-content: center;

        &-item {
            // width: 29%;
            width: clamp(327px, calc((432 / 1600) * 100vw), 432px);

            h4 {
                margin-top: 20px;
                font-size: clamp(20px, calc((28 / 1600) * 100vw), 28px);
            }

            p {
                margin-top: 20px;
                font-size: clamp(16px, calc((20 / 1600) * 100vw), 20px);
                line-height: 1.8;
            }
        }
    }
}

.about-company {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    background-color: #F7F7F8;
    position: relative;

    &-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 1600px;
        margin: 0 auto;
        padding-inline: min(calc((88 / 1600) * 100vw), 88px);
        width: 100%;
        background-image: url(../../asset/img/about/symbol_logo.svg);
        background-position: 0% 100%;
        background-repeat: no-repeat;

        h3 {
            font-size: 20px;
            font-weight: 700;
        }

        &-list {
            margin-block: 64px 88px;
            display: flex;
            flex-direction: column;
            row-gap: 32px;

            &-item {
                display: flex;
                align-items: center;
                column-gap: 64px;

                @include mixins.mediaquery-md {
                    flex-direction: column;
                    align-items: start;

                }

                &:last-of-type {
                    align-items: flex-start;

                    h4 {
                        margin-top: 15px;
                    }
                }

                h4 {
                    font-weight: 400;
                    font-size: 16px;
                    min-width: 85px;
                }

                p {
                    font-size: 16px;
                    line-height: 2.5;
                }
            }
        }

        &-logo {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

}

.page-about .contact {
    margin-top: 80px;
}

/*! ====================
    event_section(イベントコーディネート事業ページ)
    ==================== */
.event-clause {
    padding-top: 120px;
    background-color: #F7F7F8 !important;

    >p {
        width: 805px;
        font-size: 18px;
        line-height: 1.5;
        margin-top: 32px;
    }

    &-list {
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        gap: min(calc((8 / 1600) * 100vw), 8px);

        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 32.9%;
            min-height: 300px;
            padding: 32px;
            background-color: #fff;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

            h4 {
                font-size: 40px;
                color: #AACE45;
                font-weight: 400;
            }

            h5 {
                font-size: 28px;
                line-height: 1.5;
                margin-top: 10px;

            }

            p {
                font-size: 16px;
                line-height: 1.8;
            }
        }
    }
}

.page-event .contact,
.page-event .footer {
    background-color: #F7F7F8 !important;
}

/*! ====================
    marketing_section(Webマーケティング事業ページ)
    ==================== */

.marketing-hero {
    h2 {
        font-size: 60px;
        font-weight: 700;
    }

    &-content {
        display: flex;
        column-gap: 33px;
        margin-top: 100px;

        p {
            margin-top: 20px;
            font-size: 20px;
            line-height: 2.5;
        }

        div:last-of-type {
            width: 42%;
            flex-shrink: 0;
        }
    }
}

.marketing-clause {
    margin-top: 150px !important;

    p {
        font-size: 20px;
        line-height: 1.5;
        margin-top: 30px;
    }

    &-list {
        margin-top: 30px;
        display: flex;
        column-gap: 110px;
        row-gap: 30px;
        flex-wrap: wrap;

        li {
            width: 41.5%;

            h4 {
                font-size: 26px;
                line-height: 1.5;
            }

            p {
                margin-top: 10px;
            }
        }
    }
}

/*! ====================
    clinical_section(臨床研究サポート事業ページ)
    ==================== */

.clinical-hero {
    h2 {
        font-size: 60px;
        font-weight: 700;
    }

    &-content {
        display: flex;
        column-gap: 33px;
        margin-top: 100px;

        p {
            margin-top: 20px;
            font-size: 20px;
            line-height: 2.5;
        }

        div:last-of-type {
            width: 42%;
            flex-shrink: 0;
        }
    }
}

.clinical-suuport {
    margin-top: 150px !important;

    &-headline {
        margin-block: 30px;
    }

    &-step {
        display: flex;
        column-gap: 98px;
        justify-content: center;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;

            h5 {
                font-size: 20px;
            }
        }

        &-img {
            width: 155px;
            height: 155px;
        }
    }
}