@use "sass:map";
@use 'reset';
@use 'common.vars';
@use 'header';
@use 'footer';
@use 'mixins';

/*! =====================
    top_section(トップページ)
    ===================== */
.top {
    background-color: map.get(common.$colors, black30);
}

.top-hero {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;

    &-swiper {
        width: 100%;
        max-width: 1600px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        &-heading {
            width: 783px;
            position: absolute;
            top: 265.5px;
            top: calc((265.5 / 1600) * 100vw);
            left: 88px;
            left: calc((88 / 1600) * 100vw);
            line-height: 1.3;

            &-title {
                font-weight: 900 !important;
            }

            &Text {
                line-height: 2;
                margin-top: calc((32 / 1600) * 100vw);
                margin-bottom: calc((94 / 1600) * 100vw);
            }
        }

        &-link {
            position: absolute;
            right: calc((88 / 1600) * 100vw);
            bottom: calc((88 / 1600) * 100vw);
        }

        &-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
        }

        &-wrapperSlide {
            width: 100%;
            height: 100%;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }

    &-swiper-controls {
        position: absolute;
        bottom: calc((24 / 1600) * 100vw);
        left: calc((88 / 1600) * 100vw);
        display: flex;
        align-items: center;
        gap: calc((16 / 1600) * 100vw);
    }

    &-swiper-controlsTogglePlay {
        width: max(calc((50 / 1600) * 100vw), 32px);
        height: max(calc((50 / 1600) * 100vw), 32px);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            transform: scale(1.1);
        }

        /* 停止ボタン */
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: calc((3 / 1600) * 100vw);
            height: calc((18 / 1600) * 100vw);
            background: #fff;
        }

        &::before {
            left: calc((19 / 1600) * 100vw);
        }

        &::after {
            right: calc((19 / 1600) * 100vw);
        }

        &.is-paused::before,
        &.is-paused::after {
            display: none;
        }

        /* 再生ボタン */
        &.is-paused {
            font-size: calc((28 / 1600) * 100vw);
            ;
            color: #fff;
            line-height: 1;
            content: none;
        }

        &.is-paused::after {
            display: block;
            content: "▶";
            position: absolute;
            left: calc((13 / 1600) * 100vw);
            width: auto;
            height: auto;
            background: none;
        }
    }

    &-swiper-controlsPagination {
        display: flex;
        align-items: center;
        gap: calc((10 / 1600) * 100vw);
        background: rgba(0, 0, 0, 0.45);
        padding: 8px 12px;
        border-radius: 20px;

        height: 20px;

        .top-hero-swiper-controlsPaginationItem {
            height: 4px;
            border-radius: 20px;
            transition: width 0.2s linear, background 0.2s linear;

            &.inactive {
                width: 20px;
                background: #bfbfbf;
            }

            &.active {
                width: 80px;
                background: #fff;
            }
        }
    }

    &-link {
        position: absolute;

    }
}


.top-features {
    width: 100%;
    margin-top: 80px !important;

    &-news {
        width: 100%;

        &-wrapper {
            width: fit-content;
            margin-left: auto;

            &Title {
                font-size: 18px;
                margin-bottom: 40px;
                font-weight: 500;
            }

            &Text {
                font-size: 16px;
                display: flex;
                margin-bottom: 32px;
                flex-direction: column;
                row-gap: 8px;
                line-height: 1.5;

                p:nth-of-type(1) {
                    color: map.get(common.$colors, t-green-500);
                }

                &:last-child {
                    margin-bottom: 0;
                }
                a{
                    transition: opacity 0.3s ease;
                }
                & a:hover{
                    opacity: 0.5;
                }
            }
        }


    }
}

.our-services {
    width: 100%;
    padding-block: 120px;
    background-color: #fff;
    margin-top: 120px !important;
    margin: 0 auto;
    padding-inline: min(5.5vw, 88px);

    &-wrapper {
        max-width: 1600px;
        margin: 0 auto;

        >p:first-of-type {
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            margin-top: 32px;
        }

        &-title {
            font-size: 88px;
            font-weight: 700;

            span {
                color: map.get(common.$colors, t-green);
            }
        }

        &-list {
            width: 100%;
            display: flex;
            gap: min(calc(64 / 1600) * 100vw, 64px);
            margin-top: 80px;
            flex-wrap: wrap;
            justify-content: center;

            &-busines {
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                // イメージスケールアップ
                a,
                div {
                    width: min(calc((349 / 1600) * 100vw), 349px);
                    height: min(calc((262 / 1600) * 100vw), 262px);
                    position: relative;
                    overflow: hidden;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: scale 0.3s ease;

                    }

                    &:hover img {
                        scale: 1.08;
                    }
                }

                p {
                    // font-size: 16px;
                    // font-size: max(calc((14 / 1600) * 100vw), 16px);
                    line-height: 1.8;
                }

                h3 {
                    // font-size: 32px;
                    // font-size: max(calc((26 / 1600) * 100vw), 22px);
                    font-weight: 700;
                }

            }
        }

        &-link {
            display: flex;
            justify-content: end;
            margin-top: 120px;
        }
    }

}

.recruit {
    padding-top: 128px;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;

    &-explanation {
        width: 79%;
        font-weight: 600;
        font-size: 18px;
        background-color: #fff;
        // padding: 63.5px 0 103.5px 80px;
        padding: 63.5px 0 90.5px 80px;
        position: relative;

        &-section {
            // margin-bottom: 56px;
            margin-bottom: 48px;
        }

        &-text {
            // margin-top: 48px;
            margin-top: 38px;
            position: relative;
            z-index: 1;
        }

        &-image {
            margin: 0 auto;
            width: min(calc((928 / 1600) * 100vw), 928px);
            // width: 928px;
            height: auto;
            position: absolute;
            top: 98.5px;
            right: -248px;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    &-link {
        position: absolute;
        bottom: -32px;
    }

}

.news {
    width: 100%;
    margin-block: 240px 120px!important;;

    &-wrapper {
        width: fit-content;
        margin-left: auto;

        &-title {
            font-size: 18px;
            margin-bottom: 40px;
            font-weight: 500;

        }

        &-text {
            font-size: 16px;
            display: flex;
            margin-bottom: 32px;
            line-height: 1.5;
            column-gap: 159px;

            p:nth-of-type(1) {
                color: map.get(common.$colors, t-green-500);
            }

            &:last-child {
                margin-bottom: 0;
            }
            a{
                transition: opacity 0.3s ease;
            }
            & a:hover {
                opacity: 0.5;
            }
        }
    }

}

/*! ====================
    about_section(会社概要ページ)
    ==================== */
.about-hero {
    width: 100%;
    height: auto;
    background-image: url('../img/about/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding-block: 100px;
    display: flex;
    column-gap: 125px;

    &-title {
        flex-shrink: 0;
    }

    &-text {
        width: 100%;
        line-height: 2.6;

        p {
            margin-top: 50px;
        }

        p:nth-of-type(1) {
            margin-top: 0;
        }
    }
}

.about-philosophy {
    width: 100%;
    display: flex;
    column-gap: 70px;
    align-items: center;
    margin-top: 150px;

    &-line {
        width: 1px;
        height: 215px;
        background: #000;
    }

    &-item {
        width: 30%;

        &-title {
            font-size: 50px;
            font-weight: 600;
        }

        &-text {
            font-size: 20px;
            line-height: 1.5;
            margin-top: 20px;
        }
    }
}

.about-strengths {
    margin-top: 150px;

    h3 {
        font-size: 40px;
        font-weight: 600;
    }

    &-list {
        margin-top: 50px;
        display: flex;
        column-gap: 35px;
        row-gap: 50px;
        flex-wrap: wrap;

        &-item {
            width: 29%;

            h4 {
                margin-top: 20px;
                font-size: 26px;
            }

            p {
                margin-top: 20px;
                font-size: 20px;
                line-height: 1.8;
            }
        }
    }
}

.about-company {
    margin: 150px 0 54px;

    h3 {
        font-size: 40px;
        font-weight: 600;
    }

    &-list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 45px;

        &-item {
            display: flex;
            align-items: center;
            column-gap: 100px;

            &:last-of-type {
                align-items: flex-start;

                h4 {
                    margin-top: 15px;
                }
            }

            h4 {
                font-size: 20px;
                min-width: 85px;
            }

            p {
                font-size: 20px;
                line-height: 2.5;
            }
        }
    }
}


/*! ====================
    event_section(イベントコーディネート事業ページ)
    ==================== */
.event-hero {
    h2 {
        font-size: 60px;
        font-weight: 700;
    }

    &-content {
        display: flex;
        column-gap: 58px;
        margin-top: 100px;

        p {
            margin-top: 20px;
            font-size: 20px;
            line-height: 2.5;
        }

        div:last-of-type {
            width: 42%;
            flex-shrink: 0;
        }
    }
}

.event-clause {
    margin-top: 150px !important;

    p {
        font-size: 20px;
        line-height: 1.5;
        margin-top: 30px;
    }

    &-list {
        margin-top: 30px;
        display: flex;
        column-gap: 110px;
        row-gap: 30px;
        flex-wrap: wrap;

        li {
            width: 41.5%;

            h4 {
                font-size: 26px;
                line-height: 1.5;
            }

            p {
                margin-top: 10px;
            }
        }
    }
}

/*! ====================
    marketing_section(Webマーケティング事業ページ)
    ==================== */

.marketing-hero {
    h2 {
        font-size: 60px;
        font-weight: 700;
    }

    &-content {
        display: flex;
        column-gap: 33px;
        margin-top: 100px;

        p {
            margin-top: 20px;
            font-size: 20px;
            line-height: 2.5;
        }

        div:last-of-type {
            width: 42%;
            flex-shrink: 0;
        }
    }
}

.marketing-clause {
    margin-top: 150px !important;

    p {
        font-size: 20px;
        line-height: 1.5;
        margin-top: 30px;
    }

    &-list {
        margin-top: 30px;
        display: flex;
        column-gap: 110px;
        row-gap: 30px;
        flex-wrap: wrap;

        li {
            width: 41.5%;

            h4 {
                font-size: 26px;
                line-height: 1.5;
            }

            p {
                margin-top: 10px;
            }
        }
    }
}

/*! ====================
    clinical_section(臨床研究サポート事業ページ)
    ==================== */

.clinical-hero {
    h2 {
        font-size: 60px;
        font-weight: 700;
    }

    &-content {
        display: flex;
        column-gap: 33px;
        margin-top: 100px;

        p {
            margin-top: 20px;
            font-size: 20px;
            line-height: 2.5;
        }

        div:last-of-type {
            width: 42%;
            flex-shrink: 0;
        }
    }
}

.clinical-suuport {
    margin-top: 150px !important;

    &-headline {
        margin-block: 30px;
    }

    &-step {
        display: flex;
        column-gap: 98px;
        justify-content: center;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;

            h5 {
                font-size: 20px;
            }
        }

        &-img {
            width: 155px;
            height: 155px;
        }
    }
}