@use "sass:map";
@use 'reset';
@use 'common.vars';
@use 'header';
@use 'footer';
@use 'mixins';


/*! =====================
    top_section(トップページ)
    ===================== */
.page-top {
    background-color: map.get(common.$colors, black30);
}

.top-hero-swiper-wrapperSlide picture,
.top-hero-swiper-wrapperSlide img {
    width: 100%;
    height: 100%;
}

.top-hero-swiper-wrapperSlide img {
    display: block;
    object-fit: cover;
}


.top-hero {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;

    @include mixins.mediaquery-md {
        height: 625px;
    }

    &-swiper {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        &-heading {
            width: 783px;
            position: absolute;
            top: calc((265.5 / 1600) * 100vw);
            left: calc((88 / 1600) * 100vw);
            line-height: 1.3;

            @include mixins.mediaquery-md {
                width: fit-content;
                top: calc((98 / 767) * 100vw);
                left: calc((56 / 767) * 100vw);
            }

            &Title {
                font-size: min(calc((64 /1600) * 100vw), 64px);
                font-weight: 700;

                @include mixins.mediaquery-md {
                    font-size: 32px;
                }
            }


            &Text {
                margin-top: calc((32 / 1600) * 100vw);
                font-size: 18px;
                font-weight: 500;
                line-height: 2;

                @include mixins.mediaquery-md {
                    font-size: 16px;
                    margin-top: calc((32 / 767) * 100vw);
                    max-width: 400px;
                }

                @include mixins.mediaquery-sm {
                    width: 80%;
                }
            }
        }

        &-link {
            position: absolute;
            right: calc((88 / 1600) * 100vw);
            bottom: calc((88 / 1600) * 100vw);

            @include mixins.mediaquery-md {
                right: unset;
                left: calc((56 / 767) * 100vw);
                bottom: 128px;
            }

        }

        &-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
        }

        &-wrapperSlide {
            width: 100%;
            height: 100%;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        &-controls {
            position: absolute;
            bottom: calc((24 / 1600) * 100vw);
            left: calc((88 / 1600) * 100vw);
            display: flex;
            align-items: center;
            column-gap: calc((16 / 1600) * 100vw);

            @include mixins.mediaquery-md {
                column-gap: 16px;
            }

            @include mixins.mediaquery-md {
                bottom: 16px;

            }

            &TogglePlay {
                width: max(calc((50 / 1600) * 100vw), 32px);
                height: max(calc((50 / 1600) * 100vw), 32px);
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s, transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                    background-color: rgba(0, 0, 0, 0.5);
                }

                &.is-play {

                    /* 停止ボタン */
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background-image: url("../../asset/img/top/pause_stop.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        display: block;
                    }
                }

                &.is-paused {

                    // 再生ボタン
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background-image: url("../../asset/img/top/pause_start.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        display: block;
                    }
                }

            }

            &Pagination {
                display: flex;
                align-items: center;
                // gap: calc((10 / 1600) * 100vw);
                column-gap: 16px;
                background: rgba(0, 0, 0, 0.45);
                padding: 8px 12px;
                border-radius: 20px;
                height: 20px;
                cursor: pointer;

                .top-hero-swiper-controlsPaginationItem {
                    height: 4px;
                    border-radius: 20px;
                    transition: width 0.2s linear, background 0.2s linear;

                    &.inactive {
                        width: 20px;
                        background: #bfbfbf;
                    }

                    &.active {
                        width: 80px;
                        background: #fff;

                        @include mixins.mediaquery-md {
                            width: 64px;
                        }
                    }
                }
            }
        }
    }





    &-link {
        position: absolute;

    }
}


.top-features {
    width: 100%;
    margin-top: 80px !important;

    @include mixins.mediaquery-md {
        margin-top: 64px !important;
    }

    &-news {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &-wrapper {
            width: 65%;

            @include mixins.mediaquery-md {
                display: block;
                width: 100%;
            }

            &Title {
                font-size: 18px;
                margin-bottom: 40px;
                font-weight: 500;
            }

            &Text {
                font-size: 16px;
                display: flex;
                margin-bottom: 32px;
                flex-direction: column;
                row-gap: 8px;
                line-height: 1.5;

                p:nth-of-type(1) {
                    color: map.get(common.$colors, t-green-500);
                }

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    transition: opacity 0.3s ease;
                }

                & a:hover {
                    opacity: 0.5;
                }
            }
        }

    }
}

.our-services {
    width: 100%;
    padding-block: 120px;
    background-color: #fff;
    margin-top: 120px !important;

    @include mixins.mediaquery-md {
        padding-block: 64px;
        margin-top: 80px !important;
    }

    &-wrapper {
        max-width: 1600px;
        margin: 0 auto;

        >p:first-of-type {
            width: 82%;
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.5;
            margin-top: 32px;
            padding-left: min(calc((88 / 1600) * 100vw), 88px);

            @include mixins.mediaquery-md {
                font-size: 18px;
                margin-top: 24px;

            }
        }

        &-title {
            font-size: 88px;
            font-weight: 700;
            padding-inline: min(calc((88 / 1600) * 100vw), 88px);

            @include mixins.mediaquery-md {
                font-size: 72px;
            }
        }

        &-list {
            width: 100%;
            display: flex;
            // gap: min(calc(64 / 1600) * 100vw, 64px);
            gap: clamp(24px, (calc((64 / 1600) * 100vw)), 64px);
            margin-top: 160px;
            flex-wrap: wrap;
            justify-content: center;

            @include mixins.mediaquery-md {
                row-gap: 64px;
                margin-top: 40px;
                justify-content: center;
            }

            @include mixins.mediaquery-sm {
                padding-inline: min(calc((88 / 1600) * 100vw), 88px);
                justify-content: space-between;
            }

            &-busines {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                width: 34.5%;

                @include mixins.mediaquery-md {
                    row-gap: 16px;
                    width: 45%;
                }

                @include mixins.mediaquery-sm {
                    width: 100%;
                }

                // イメージスケールアップ
                a,
                div {
                    width: min(calc((556 / 1600) * 100vw), 556px);
                    height: min(calc((430 / 1600) * 100vw), 430px);
                    position: relative;
                    overflow: hidden;

                    @include mixins.mediaquery-md {
                        width: calc((347 / 767) * 100vw);
                        height: calc((260 / 767) * 100vw);
                    }

                    @include mixins.mediaquery-sm {
                        width: calc((333 / 375) * 100vw);
                        height: calc((232 / 375) * 100vw);
                    }

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: scale 0.3s ease;
                    }

                }

                p {
                    font-size: 16px;
                    line-height: 1.8;
                    transition: color 0.3s ease;
                    margin-top: 16px;
                    cursor: pointer;
                }

                h3 {
                    font-size: clamp(20px, (calc((26 / 1600) * 100vw)), 32px);
                    font-weight: 700;
                    transition: color 0.3s ease;
                    cursor: pointer;

                }

                &Line {
                    display: flex;
                    font-size: 20px !important;
                    column-gap: 12px;
                    align-items: center;
                    justify-content: flex-end;

                    @include mixins.mediaquery-md {
                        font-size: 16px !important;
                    }
                }

                &:last-child {

                    h3,
                    p {
                        cursor: default;
                    }
                }

                &:not(:last-child):hover {
                    img {
                        scale: 1.08;
                    }

                    .our-services-wrapper-list-businesLine {
                        color: map.get(common.$colors, t-green);
                    }

                    .c-link-short-arrow,
                    .c-link-short-transition {
                        border-color: map.get(common.$colors, t-green);
                    }

                    .c-link-short-arrow::before {
                        opacity: 0;
                    }

                    .c-link-short-arrow::after {
                        opacity: 1;
                    }

                    .c-link-short-transition::before {
                        opacity: 0;
                    }

                    .c-link-short-transition::after {
                        opacity: 1;
                    }

                }

            }
        }

        &-link {
            display: flex;
            justify-content: end;
            margin-top: 120px;

            @include mixins.mediaquery-md {
                justify-content: center;
                margin-top: 64px;
            }
        }

        &-pickup {
            display: flex;
            flex-direction: column;
            margin-top: 160px;
            row-gap: 120px;

            @include mixins.mediaquery-md {
                margin-top: 64px;
                row-gap: 64px;
            }

            &Content {
                display: flex;
                column-gap: calc((64 / 1600) * 100vw);
                padding-left: min(calc((88 / 1600) * 100vw), 88px);
                cursor: pointer;

                @include mixins.mediaquery-md {
                    flex-direction: column-reverse;
                    padding-inline: min(calc((88 / 1600) * 100vw), 88px) !important;
                }


                &:hover {

                    img {
                        scale: 1.08;
                    }

                    .our-services-wrapper-pickupContentTextLine {
                        color: map.get(common.$colors, t-green);
                    }

                    .c-transition-list-more,
                    .c-case-list-more {
                        background-color: map.get(common.$colors, t-green);
                    }

                    .c-link-short-arrow,
                    .c-link-short-transition {
                        border-color: map.get(common.$colors, t-green);
                    }

                    .c-link-short-arrow::before {
                        opacity: 0;
                    }

                    .c-link-short-arrow::after {
                        opacity: 1;
                    }

                    .c-link-short-transition::before {
                        opacity: 0;
                    }

                    .c-link-short-transition::after {
                        opacity: 1;
                    }
                }

                &Text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @include mixins.mediaquery-md {
                        margin-top: 24px;
                    }

                    h3 {
                        font-size: 40px;
                        font-weight: 700;
                        transition: color 0.3s ease;

                        @include mixins.mediaquery-md {
                            font-size: 20px;
                        }
                    }

                    p {
                        width: 100%;
                        font-size: 18px;
                        line-height: 2;
                        margin-top: 24px;
                        transition: color 0.3s ease, background-color 0.3s ease;

                        @include mixins.mediaquery-md {
                            margin-top: 16px;
                            font-size: 16px;
                        }
                    }

                    &Line {
                        display: none;

                        @include mixins.mediaquery-md {
                            width: 100%;
                            display: flex;
                            column-gap: 12px;
                            flex-wrap: wrap;
                            justify-content: flex-end;
                            align-items: center;
                        }

                    }

                }

                div:nth-of-type(2) {

                    position: relative;
                    overflow: hidden;
                    flex-shrink: 0;

                    img {
                        // position: absolute;
                        object-fit: cover;
                        transition: scale 0.3s ease;
                        width: min(calc((935 / 1600) * 100vw), 935px);

                        @include mixins.mediaquery-md {
                            width: 100%;
                        }
                    }

                }

                &._reverse {
                    flex-direction: row-reverse;
                    padding-left: 0;
                    padding-right: min(calc((88 / 1600) * 100vw), 88px);

                    @include mixins.mediaquery-md {
                        flex-direction: column-reverse;
                    }

                }

                &More {
                    width: 196px !important;
                    padding: 14px 72px 14px 32px !important;

                    &:before {
                        display: none;
                    }

                    &:after {
                        display: block !important;
                    }

                }

                a {
                    display: block;
                    width: fit-content;
                }

            }
        }
    }

}

.recruit {
    padding-top: 190px;
    position: relative;

    @include mixins.mediaquery-md {
        padding-top: 80px;
        overflow: hidden;
    }

    &-bg {
        position: absolute;
        top: 15%;
        left: 0;
        width: 75%;
        height: 80%;
        background-color: #fff;

        @include mixins.mediaquery-md {
            top: 17%;
            width: 72.6%;
            height: 67%;
        }
    }

    &-explanation {
        width: 79%;
        height: auto;
        font-weight: 600;
        font-size: 18px;
        position: relative;

        @include mixins.mediaquery-md {
            width: 95%;
        }

        .c-explanation-title {
            margin-top: 56px;

            @include mixins.mediaquery-md {
                margin-top: 40px;
            }
        }

        &-text {
            margin-top: 48px;
            position: relative;
            z-index: 1;

            @include mixins.mediaquery-sm {
                margin-top: 32px;
            }

            p {
                font-weight: 400;
                line-height: 2;
            }
        }

        &-image {
            margin: 0 auto;
            // width: min(calc((928 / 1600) * 100vw), 928px);
            width: min(calc((908 / 1600) * 100vw), 928px);
            height: auto;
            position: absolute;
            top: 98.5px;
            right: -228px;

            @include mixins.mediaquery-md {
                position: relative;
                width: 120%;
                top: 0;
                right: unset;
                left: -53px;
                margin-top: 64px;
            }

            @include mixins.mediaquery-sm {
                left: calc((-45 / 767) * 100vw);
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    &-link {
        width: fit-content;
        margin-top: 56px;

        @include mixins.mediaquery-md {
            margin-top: 40px;
        }
    }

}

.news {
    width: 100%;
    margin-block: 240px 120px !important;
    display: flex;
    justify-content: flex-end;

    @include mixins.mediaquery-md {
        margin-block: 64px 80px !important;
        flex-direction: column;
    }

    &-wrapper {
        width: 82.6%;

        @include mixins.mediaquery-md {
            width: 100%;
        }

        &-title {
            font-size: 18px;
            margin-bottom: 40px;
            font-weight: 500;

            @include mixins.mediaquery-md {
                margin-bottom: 48px;
            }
        }

        &-text {
            font-size: 16px;
            display: flex;
            margin-bottom: 32px;
            line-height: 1.5;
            column-gap: 159px;

            @include mixins.mediaquery-md {
                column-gap: 97px;
            }

            @include mixins.mediaquery-sm {
                display: block;
            }

            p {
                color: map.get(common.$colors, t-green-500);
                flex-shrink: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                width: 80%;
                transition: opacity 0.3s ease;

                @include mixins.mediaquery-md {
                    width: 62.5%;
                    width: 100%;
                }

            }

            & a:hover {
                opacity: 0.5;
            }
        }

        &-link {
            margin-top: 64px;
            display: flex;
            justify-content: flex-end;

            a {
                width: fit-content;
            }
        }
    }

}

/*! ====================
    about_section(会社概要ページ)
    ==================== */
.about-hero {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: min(calc((160 / 1600) * 100vw), 160px);
    transition: background-color 0.5s ease;
    z-index: -1;

    @include mixins.mediaquery-md {
        padding-block: min(calc((120 / 1600) * 100vw), 120px) min(calc((160 / 1600) * 100vw), 160px);
    }

    &._bg {
        background-color: map.get(common.$colors, black30);
    }

    &-title {
        font-size: 120px;
        font-size: clamp(58px, calc((120 / 1600) * 100vw), 120px);
        font-weight: 600;
        line-height: 1.5;

        @include mixins.mediaquery-sm {
            text-align: center;
        }
    }

    &-color {
        color: map.get(common.$colors, black600);
    }

    &-content {
        font-size: 32px;
        line-height: 2;
        font-weight: 700;
        padding-left: calc((124 / 1600) * 100vw);
        display: flex;
        margin-top: 64px;
        position: relative;

        @include mixins.mediaquery-md {
            padding-left: calc((22 / 767) * 100vw);
            font-weight: 500;

        }

        @include mixins.mediaquery-sm {
            padding-top: 361px;
            margin-top: 30px;
        }

        &-text {
            font-size: clamp(18px, calc((32 / 1600) * 100vw), 32px);

            &-mvv {
                font-size: max(calc((90 / 1600) * 100vw), 60px);
                color: map.get(common.$colors, black600);
                line-height: 1;
                margin-top: 280px;

                @include mixins.mediaquery-sm {
                    margin-top: 128px;
                }
            }

            &-mvv:nth-of-type(2),
            &-mvv:nth-of-type(3) {
                margin-top: 160px;

                @include mixins.mediaquery-sm {
                    margin-top: 48px;
                }
            }

            &-explanation {
                margin-top: 24px;
            }
        }

        p:nth-of-type(2) {
            margin-top: 95px;

            @include mixins.mediaquery-sm {
                margin-top: 45px;
            }
        }

        p:nth-of-type(3) {
            margin-top: 95px;

            @include mixins.mediaquery-sm {
                margin-top: 45px;
            }
        }

        &-sticky {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;

            &-img {

                width: min(calc((772 / 1600) * 100vw), 772px);
                transition: opacity 0.5s ease;
                position: sticky;
                top: 13px;
                height: fit-content;
                right: 0;
                z-index: -2;

                @include mixins.mediaquery-sm {
                    width: 100%;
                }

                &._opacity {
                    opacity: 0.5;
                }
            }
        }

    }


}

.about-strengths {
    margin-top: 150px;
    padding-block: 120px;

    @include mixins.mediaquery-md {
        padding-block: 64px;
    }

    h3 {
        font-size: 40px;
        font-weight: 600;

        @include mixins.mediaquery-md {
            font-size: 20px;
        }
    }

    &-list {
        margin-top: 50px;
        display: flex;
        column-gap: 35px;
        row-gap: 50px;
        flex-wrap: wrap;
        justify-content: center;

        &-item {
            // width: 29%;
            width: clamp(327px, calc((432 / 1600) * 100vw), 432px);

            h4 {
                margin-top: 20px;
                font-size: clamp(20px, calc((28 / 1600) * 100vw), 28px);
            }

            p {
                margin-top: 20px;
                font-size: clamp(16px, calc((20 / 1600) * 100vw), 20px);
                line-height: 1.8;
            }
        }
    }
}

.about-company {
    display: flex;
    justify-content: center;
    background-color: #F7F7F8;
    position: relative;

    &-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 1600px;
        margin: 0 auto;
        padding-inline: min(calc((88 / 1600) * 100vw), 88px);
        width: 100%;
        background-image: url(../../asset/img/about/symbol_logo.svg);
        background-position: 0% 100%;
        background-repeat: no-repeat;

        h3 {
            font-size: 20px;
            font-weight: 700;
        }

        &-list {
            margin-block: 80px 88px;
            display: flex;
            flex-direction: column;
            row-gap: 32px;

            @include mixins.mediaquery-md {
                flex-direction: column;
                align-items: start;
                margin-block: 64px;
            }

            &-item {
                display: flex;
                align-items: center;
                column-gap: 64px;

                @include mixins.mediaquery-md {
                    flex-direction: column;
                    align-items: start;

                }

                &:last-of-type {
                    align-items: flex-start;

                    h4 {
                        margin-top: 15px;
                    }
                }

                h4 {
                    font-weight: 400;
                    font-size: 16px;
                    min-width: 85px;
                }

                p {
                    font-size: 16px;
                    line-height: 2.5;
                }
            }
        }

        &-logo {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

}

.page-about .contact {
    margin-top: 80px;
    margin-bottom: 80px;

    @include mixins.mediaquery-md {
        margin-top: 23px;
        margin-bottom: 23px;
    }
}

/*! ====================
    event_section(イベントコーディネート事業ページ)
    ==================== */
.page-services-event .c-support-list li {
    width: 220px;

    @include mixins.mediaquery-sm {
        width: 279px;
    }
}

.page-services-event .c-member {
    padding-bottom: 120px;

    @include mixins.mediaquery-sm {
        padding-bottom: 80px;
    }
}

.event-clause {
    padding-top: 120px;
    background-color: #F7F7F8 !important;

    &-lead {
        width: 61.6%;
        font-size: 18px;
        line-height: 2;
        margin-top: 32px;

        @include mixins.mediaquery-md {
            font-size: 16px;
            width: 80%;
            line-height: 1.8;
        }

        @include mixins.mediaquery-sm {
            width: 100%;
        }
    }

    h3 {
        text-align: start;

        @include mixins.mediaquery-md {
            text-align: center;
        }
    }

    @include mixins.mediaquery-md {
        padding-top: 80px;
    }

    &-list {
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        gap: min(calc((8 / 1600) * 100vw), 8px);
        justify-content: center;

        @include mixins.mediaquery-sm {
            justify-content: center;
            row-gap: 8px;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 32.9%;
            min-height: 215px;
            padding: 32px;
            background-color: #fff;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

            @include mixins.mediaquery-md {
                width: 49.4%;
                justify-content: unset;
                min-height: 0;
                padding: 24px;
            }

            @include mixins.mediaquery-sm {
                width: 327px;
            }

            h4 {
                font-size: 40px;
                color: #AACE45;
                font-weight: 400;

                @include mixins.mediaquery-md {
                    font-size: 32px;
                }
            }

            h5 {
                font-size: 28px;
                line-height: 1.5;
                margin-top: 10px;

                @include mixins.mediaquery-md {
                    font-size: 20px;
                }
            }
        }
    }
}

/*! ====================
    marketing_section(webマーケティング事業ページ)
    ==================== */
.page-services-marketing .c-support {
    padding-bottom: 120px;

    @include mixins.mediaquery-sm {
        padding-bottom: 80px;
    }
}

/*! ====================
    clinical_section(臨床研究サポート事業ページ)
    ==================== */

.page-services-clinical .c-support-list {
    flex-wrap: wrap;
}

.page-services-clinical .c-support-list li {
    width: 296px;
}

.page-services-clinical .c-support-list._process li {
    width: 19.1%;

    h4 {
        min-height: 12.4%;

        @include mixins.mediaquery-sm {
            min-height: unset;
        }
    }

    @include mixins.mediaquery-md {
        width: 296px;
    }

}

.page-services-clinical .c-support-list._process {
    column-gap: min(calc((12 / 1600) * 100vw), 16px);

    @include mixins.mediaquery-md {
        column-gap: clamp(12px, 3.75vw, 80px);
    }
}

.clinical-hero {
    h2 {
        font-size: 60px;
        font-weight: 700;
    }

    &-content {
        display: flex;
        column-gap: 33px;
        margin-top: 100px;

        p {
            margin-top: 20px;
            font-size: 20px;
            line-height: 2.5;
        }

        div:last-of-type {
            width: 42%;
            flex-shrink: 0;
        }
    }
}

.clinical-suuport {
    margin-top: 150px !important;

    &-headline {
        margin-block: 30px;
    }

    &-step {
        display: flex;
        column-gap: 98px;
        justify-content: center;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;

            h5 {
                font-size: 20px;
            }
        }

        &-img {
            width: 155px;
            height: 155px;
        }
    }
}

.achievements {
    line-height: 2.1;
    background-color: #F7F7F8 !important;
    padding-bottom: 80px;

    @include mixins.mediaquery-md {
        padding-bottom: 64px;
    }

    &-company {
        margin: 0 auto;
        width: 90%;

        @include mixins.mediaquery-md {
            margin: 0;
        }

        h2 {
            font-size: 32px;
        }

        >p:nth-of-type(1) {
            font-size: 18px;
            line-height: 2;
            margin-top: 16px;
        }

        &-list {
            width: 80%;
            margin-top: 48px;

            span {
                font-size: 16px;
                white-space: nowrap;
                display: inline-block;

                @include mixins.mediaquery-sm {
                    font-size: 15px;
                }
            }

            @include mixins.mediaquery-md {
                width: 100%;
            }
        }
    }
}

/*! ====================
    事業詳細ページ共通
    ==================== */

.page-services .contact {
    background-color: #F7F7F8 !important;
    padding-bottom: 80px;

    @include mixins.mediaquery-md {
        padding-bottom: 40px;
    }
}

.page-services .footer {
    background-color: #F7F7F8 !important;
    margin-top: 0;
}

/*! ====================
    ニュース詳細ページ(news-detail)
    ==================== */
.news-title {
    width: 100%;

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
        margin-top: 32px;

        @include mixins.mediaquery-md {
            margin-top: 64px;
            margin-bottom: 8px;
        }
    }
}

.news-detail {
    width: 100%;
    margin-top: 120px !important;
    max-width: 1176px !important;

    @include mixins.mediaquery-md {
        margin-top: 80px !important;
    }

    h3 {
        font-size: 28px;
        margin-top: 48px;
        line-height: 1.5;
    }

    ol {
        list-style: disc;
        margin-top: 16px;
        line-height: 1.8;
        padding-left: 23px;
    }

    p {
        line-height: 1.8;
    }

    &-point {
        margin-top: 54px;
    }

}

.news-bottom {
    width: 100%;
    position: relative;
    margin-top: 120px !important;
    max-width: 1176px !important;

    &-bg {
        background-color: map.get(common.$colors, black30);
        padding: 40px 48px;

        h3 {
            font-size: 28px;
            line-height: 1.5;
        }

        h4 {
            font-size: 20px;
            margin-block: 16px;
            line-height: 1.5;
        }

        p {
            line-height: 1.8;
        }

        &-point {
            margin-top: 15px;
        }

        &-link {
            &-button {
                display: flex;
                width: 144px;
                font-size: 20px;
                align-items: center;
                gap: 8px;
                padding: 12px 24px;
                background-color: #000;
                color: #fff;
                border-radius: 80px;
                font-size: 12px;
                text-decoration: none;
                transition: background-color 0.3s ease;
                margin: 80px auto 113px;

                &::before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-image: url("../../asset/img/common/arrow_reverse.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: relative;
                    top: 4px;
                    left: -3px;
                }

                &:hover {
                    background-color: map.get(common.$colors, t-green);
                }
            }
        }

        &::before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: map.get(common.$colors, black200);
            position: absolute;
            top: -64px;
            left: 50%;
            transform: translateX(-50%);
        }
    }


}

/*! =====================
    エラーページ
    ===================== */
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

    &-code {
        font-size: 120px;
        font-weight: 600;
        color: map.get(common.$colors, black600);
        margin: 0;

        @include mixins.mediaquery-md {
            font-size: 80px;
        }
    }

    &-title {
        margin: 8px 0 48px;
        font-size: 18px;
        letter-spacing: 0.08em;
    }

    &-text {
        font-size: 20px;
        margin-bottom: 48px;
        line-height: 2;
    }

    &-button {
        display: flex;
        font-size: 20px;
        align-items: center;
        gap: 8px;
        padding: 12px 24px;
        background-color: #000;
        color: #fff;
        border-radius: 80px;
        font-size: 12px;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            background-image: url("../../asset/img/common/arrow_reverse.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            top: 4px;
            left: -3px;
        }

        &:hover {
            background-color: map.get(common.$colors, t-green);
        }
    }
}